:root {
  --bleu: #0065fc;
  --bleu-clair: #deebff;
  --gris: #f2f2f2;
}
.hebergements {
  flex-wrap: wrap;
  width: 100%;
}
.hebergement {
  margin: 0;
  margin-bottom: 40px;
  background-color: #ffffff;
}
.hebergement_marseille {
  width: 45%;
  min-height: 250px;
}
.hebergement_marseille img {
  height: 200px;
}
.hebergement button {
  justify-content: center;
}
.populaires {
  width: 100%;
  order: -1;
  background-color: var(--gris);
}
.activite {
  margin-top: 0px;
  padding: 0px 3%;
}
.column_container {
  height: 350px;
}
.footer_container {
  padding: 60px 3%;
}
